@{
    ViewBag.Title = "Funciones";
}
<div class="page-title-area item-bg-1">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Tu Comunicación  </h2>
                    <!-- <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>About</li>
                    </ul>-->
                </div>
            </div>
        </div>
    </div>
</div>
<section class="about-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="about-image">
                    <img src="~/assets/img/LineColibry/330f.jfif" alt="image">
                    <!--  <img src="~/assets/img/about/image2.jpg" alt="image"> -->
                </div>
            </div>

            <div class="col-lg-5">
                <div class="about-content">
                    <span>LineColibry</span>
                    <h4>Generar un reporte de las actividades realizadas en el trascurso del día..</h4>
                    <strong>En cada proceso.</strong>
                    <ul class="about-list">
                        <li>
                            <i class="flaticon-check"></i>
                            Documento Baseline
                        </li>
                        <li>
                            <i class="flaticon-check"></i>
                            Documento HSQ
                        </li>

                    </ul>
                    <div class="about-btn">
                        <a href="apply-now.html" class="default-btn">
                            Aplica ya
                            <span></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="choose-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="choose-title">
                    <span></span>
                    <h2>Proceso transparente</h2>
                    <p> Enfocado a procesos de telecomunicaciones tanto internos como externos..</p>
                </div>

                <div class="choose-image">
                    <img src="~/assets/img/LineColibry/Imagen1.png" alt="image">

                    <a href="https://www.youtube.com/watch?v=fmDwTx7NncE" class="video-btn popup-youtube">
                        <i class="flaticon-play-button"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="process-item bg-top1">
                            <div class="icon">
                                <i class="flaticon-guarantee"></i>
                            </div>
                            <h3></h3>
                            <img src="~/assets/img/LineColibry/Imagen2.png">
                            <p></p>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="process-item bg-top2">
                            <div class="icon">
                                <i class="flaticon-speed"></i>
                            </div>
                            <h3></h3>
                            <img src="~/assets/img/LineColibry/Imagen3.png">
                            <p></p>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="process-item bg-top3">
                            <div class="icon">
                                <i class="flaticon-reliability"></i>
                            </div>
                            <h3></h3>
                            <img src="~/assets/img/LineColibry/Imagen4.png">
                            <p></p>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="process-item bg-top4">
                            <div class="icon">
                                <i class="flaticon-user-experience"></i>
                            </div>
                            <h3></h3>
                            <img src="~/assets/img/LineColibry/Imagen5.png">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="clients-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span>LineColibry</span>
            <h2>Propósito</h2>
            <p>Este sistema de información contara con múltiples funciones, para resolver los problemas que puede presentar una empresa en el área de pedidos y de información, para ello debe resolver tareas de forma dinámica . </p>
        </div>

    </div>
</section>
