@{
    ViewBag.Title = "Home Page";
}

<div class="main-banner-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container-fluid">
                <div class="main-banner-content">
                    <h1><i>Estamos Aqui Para Ayudar</i></h1>
                </div>
            </div>
        </div>
    </div>

    <!-- Start Approvals Area -->
    <div class="approvals-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="approvals-content">
                        <div class="icon">
                            <i class="flaticon-loan" style="color: #6092CC"></i>
                        </div>
                        <span>2G</span>
                        <p>La segunda generación</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="approvals-content">
                        <div class="icon">
                            <i class="flaticon-satisfaction" style="color: #6092CC"></i>
                        </div>
                        <span>3G</span>
                        <p>Mejorar las comunicaciones</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                    <div class="approvals-content">
                        <div class="icon">
                            <i class="flaticon-document" style="color: #6092CC"></i>
                        </div>
                        <span>4G</span>
                        <p> Via WiFi o por cable Ethernet</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="w-100 about-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="about-image">
                    <!--<img src="assets/img/LineColibry/era_1.jpg" width="465px" height="350px" alt="image">
                    <img src="assets/img/LineColibry/nt-03.webp" width="465px"  height="350px" alt="image">-->
                    <img src="~/assets/img/iconos/presentation.gif" alt="image">
                </div>

                <div class="experience">


                    <img src="~/assets/img/iconos/primero.png">



                    <p><b>Estamos aquí para mejorar tu trabajo</b> </p>
                </div>



            </div>

            <div class="col-lg-5">
                <div class="about-content">
                    <p style="color: #6092CC"> Agilizamos los procesos    </p>
                    <h3><b><i>LineColibry</i></b> </h3>
                    <p>
                        El sistema te ofrecerá gran capacidad de que tengas todo a la mano  al momento de estar en la área, diligenciara automáticamente las coordenadas de la antenas como Altura, Tilt Mecánico, Tilt Eléctrico, Azimut y las Referencia de las Antenas y también la organización de las Panorámicas y será muy mecánico al momento del seguimiento de la antena..
                    </p>
                    <strong style="color: #6092CC">Nos  enfocamos.</strong>
                    <ul class="about-list">
                        <li>
                            <i class="flaticon-check"></i>
                            Información útil
                        </li>
                        <li>
                            <i class="flaticon-check"></i>
                            Fiabilidad
                        </li>
                        <li>
                            <i class="flaticon-check"></i>

                            Rendimiento

                        </li>
                    </ul>
                    <div class="about-btn">
                        <a href="apply-now.html" class="default-btn">
                            Aplica ya
                            <span></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w-100 process-area">
    <div class="container">
        <div class="section-title">
            <span>LineColibry</span>
            <h2><b><i>Procesos</i></b></h2>
            <p>
                <b>El sistemas te ofrecerá la facilidad de obtener agilidad y flexibilidad para la digitalización de la organización de las fotos, al igual tendrá opciones de modificaciones a tu gusto..</b>

            </p>

            <img src="~/assets/img/iconos/soluciones.gif">
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="process-item">
                    <div class="icon">
                        <i class="flaticon-guarantee"></i>
                    </div>
                    <h3>Garantía</h3>
                    <p>Cumple con los mayores estándares en la elaboración de los documentos requeridos</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="process-item">
                    <div class="icon">
                        <i class="flaticon-speed"></i>
                    </div>
                    <h3>Velocidad</h3>
                    <p>
                        Agiliza el diligenciamiento de la recolección de información en el campo.
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="process-item">
                    <div class="icon">
                        <i class="flaticon-reliability"></i>
                    </div>
                    <h3>Fiabilidad</h3>
                    <p>Funciona adecuadamente con las determinadas condiciones operativas específicas.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="process-item">
                    <div class="icon">
                        <i class="flaticon-user-experience"></i>
                    </div>
                    <h3>Experiencia</h3>
                    <p>Somos un gran equipo y podemos afrontar la evolucion tecnologica</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w-100 company-area">
    <div class="container-fluid">
        <div class="row">
            <div class="w-50">
                <div class="company-image">
                    <img src="~/assets/img/iconos/Carpeta-Azul.gif" alt="image">
                </div>

            </div>
            <div class="w-50">
                <div class="company-content">
                    <h3><b><i>LineColibry te ofrece</i></b></h3>

                    <div class="company-text">
                        <div class="icon">
                            <i class="flaticon-idea" style="color: #6092CC"></i>
                        </div>
                        <!-- <h4> Pruebas innovar</h4>-->
                        <p><b>LineColibry Te ofreceremos una alta calidad de Creatividad para realizar los procesos en cualquier aspecto del área.</b></p>
                    </div>

                    <div class="company-text">
                        <div class="icon">
                            <i class="flaticon-talent" style="color: #6092CC"></i>
                        </div>
                        <!--<h4>Pruebas de carga</h4>-->
                        <p><b>LineColibry te acompañara siempre en las entrega de los documentos con el menor tiempo posible.</b></p>
                    </div>

                    <div class="company-text">
                        <div class="icon">
                            <i class="flaticon-key" style="color: #6092CC"></i>
                        </div>
                        <!-- <h4>Pruebas de Estrés</h4>-->
                        <p><b>LineColibry es tu mejor amigo En cualquier lugar que te encuentres.</b></p>
                    </div>

                    <div class="company-text">
                        <div class="icon">
                            <i class="flaticon-responsibility" style="color: #6092CC"></i>
                        </div>
                        <!--<h4>Pruebas de Estabilidad</h4>-->
                        <p><b>LineColibry te ofrecerá, mejora continua, competitividad, capacidad de autocrítica, trabajo en equipo y compromiso con nuestra sociedad.</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w-100 services-area">
    <div class="container">
        <div class="section-title">
            <span>LineColibry</span>
            <h2>Soluciones </h2>
            <p>LineColibry será tu mejor  amigo  en la zona de trabajo, por eso te daremos unas de las tantas soluciones, el documento estará completado a las recomendaciones adquiridas. </p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="services-item">
                    <div class="icon">
                        <i class="flaticon-agriculture"></i>
                    </div>
                    <h3>Renderizar</h3>
                    <p>Interpretación fotográfica.</p>
                    <!-- <a href="services-details.html" class="learn-btn">Learn More</a>-->
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="services-item">
                    <div class="icon">
                        <i class="flaticon-loan-1"></i>
                    </div>
                    <h3>Organización de documentación  </h3>
                    <p>Antena omnidireccional.</p>
                    <!--  <a href="services-details.html" class="learn-btn">Learn More</a>-->
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="services-item">
                    <div class="icon">
                        <i class="flaticon-loan-2"></i>
                    </div>
                    <h3>Seguimiento a la antena </h3>
                    <p> Mejorar la conexión, Antena router.</p>
                    <!--  <a href="services-details.html" class="learn-btn">Learn More</a>-->
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="services-item">
                    <div class="icon">
                        <i class="flaticon-personal"></i>
                    </div>
                    <h3>5G</h3>
                    <p>Velocidades mas alta.</p>
                    <!--  <a href="services-details.html" class="learn-btn">Learn More</a>-->
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="services-item">
                    <div class="icon">
                        <i class="flaticon-scholarship"></i>
                    </div>
                    <h3>Documento HSQ.</h3>
                    <p>Protección personal</p>
                    <!-- <a href="services-details.html" class="learn-btn">Learn More</a>-->
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="services-item">
                    <div class="icon">
                        <i class="flaticon-loan-3"></i>
                    </div>
                    <h3>Baseline</h3>
                    <p>Documento solicitado.</p>
                    <!-- <a href="services-details.html" class="learn-btn">Learn More</a>-->
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w-100 projects-area">
    <div class="container">
        <div class="section-title">
            <span>LineColibry</span>
            <h2><b><i>Proyección</i></b></h2>
            <p></p>
        </div>

        <div class="projects-slider owl-carousel owl-theme">
            <div class="projects-item">
                <a href="project-details.html">
                    <img src="~/assets/img/projects/image1.jpg" alt="image">
                </a>
                <div class="content">
                    <h3>
                        <a href="project-details.html">Procesos</a>
                    </h3>
                </div>
            </div>

            <div class="projects-item">
                <a href="project-details.html">
                    <img src="~/assets/img/projects/image2.jpg" alt="image">
                </a>
                <div class="content">
                    <h3>
                        <a href="project-details.html">Progresos</a>
                    </h3>
                </div>
            </div>

            <div class="projects-item">
                <a href="project-details.html">
                    <img src="~/assets/img/projects/image3.jpg" alt="image">
                </a>
                <div class="content">
                    <h3>
                        <a href="project-details.html">Tiempo</a>
                    </h3>
                </div>
            </div>

            <div class="projects-item">
                <a href="project-details.html">
                    <img src="~/assets/img/projects/image4.jpg" alt="image">
                </a>
                <div class="content">
                    <h3>
                        <a href="project-details.html">Equipo</a>
                    </h3>
                </div>
            </div>

            <div class="projects-item">
                <a href="project-details.html">
                    <img src="~/assets/img/projects/image1.jpg" alt="image">
                </a>
                <div class="content">
                    <h3>
                        <a href="project-details.html">Estrategias </a>
                    </h3>
                </div>
            </div>

            <div class="projects-item">
                <a href="project-details.html">
                    <img src="~/assets/img/projects/image2.jpg" height="380px" alt="image">
                </a>
                <div class="content">
                    <h3>
                        <a href="project-details.html">Funciones</a>
                    </h3>
                </div>
            </div>

            <div class="projects-item">
                <a href="#">
                    <img src="~/assets/img/projects/image3.jpg" alt="image">
                </a>
                <div class="content">
                    <h3>
                        <a href="#">Tiempo</a>
                    </h3>
                </div>
            </div>

            <div class="projects-item">
                <a href="project-details.html">
                    <img src="~/assets/img/projects/image4.jpg" alt="image">
                </a>
                <div class="content">
                    <h3>
                        <a href="project-details.html">Estrategias</a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>



<div class="go-top">
    <i class='bx bx-chevron-up'></i>
</div>

<!-- End Go Top Area -->
<!-- Jquery Slim JS -->
<script src="~/assets/js/jquery.min.js"></script>
<!-- Popper JS -->
<script src="~/assets/js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="~/assets/js/bootstrap.min.js"></script>
<!-- Meanmenu JS -->
<script src="~/assets/js/jquery.meanmenu.js"></script>
<!-- Carousel JS -->
<script src="~/assets/js/owl.carousel.min.js"></script>
<!-- Nice Select JS -->
<script src="~/assets/js/jquery.nice-select.min.js"></script>
<!-- Magnific Popup JS -->
<script src="~/assets/js/jquery.magnific-popup.min.js"></script>
<!-- Odometer JS -->
<script src="~/assets/js/odometer.min.js"></script>
<!-- Appear JS -->
<script src="~/assets/js/jquery.appear.js"></script>
<!-- Form Ajaxchimp JS -->
<script src="~/assets/js/jquery.ajaxchimp.min.js"></script>
<!-- Form Validator JS -->
<script src="~/assets/js/form-validator.min.js"></script>
<!-- Contact JS -->
<script src="~/assets/js/contact-form-script.js"></script>
<!-- Wow JS -->
<script src="~/assets/js/wow.min.js"></script>
<!-- Custom JS -->
<script src="~/assets/js/main.js"></script>
