<div class="wrapper login w-100 d-flex justify-content-end">
    <form action="">
        <div class="form-inner" style="
    width: 30em;
    padding: 2em;
    background-color: #fff;">
            <div class="form-header">
                <img src="~/assets/images/Tipografia_03.png">
                <h2><b>Iniciar Sesión</b></h2>
                <!--<img src="images/sign-up.png" alt="" class="sign-up-icon">>-->
            </div>
            <div class="form-group">
                <label for=""><b>Nombre de usuario</b></label>
                <input type="text" class="form-control" data-validation="length alphanumeric" data-validation-length="3-12" placeholder="Ingrese su usuario ">
            </div>

            <div class="form-group">
                <label for=""><b>Contraseña</b></label>
                <input type="password" class="form-control" data-validation="length" data-validation-length="min8" placeholder="Ingrese su contraseña ">
            </div>
            <button>Ingresar</button>
            <input type="checkbox" class="olvi" name="olvi">
            <p class="casa">Ha olvidado su contraseña </p>

            <p class="bo2">
                <b>Si no tiene cuenta, </b>
                <a href="~/Home/Registrarse" target="_blank">Registrase</a>
                /p>

        </div>
    </form>
</div>

<style>
    .login {
        background-image: "../../assets/images/hd.jpg";
        background-attachment: fixed;
        background-position: center;
        height: calc(100vh - 9em);
    }
</style>
