@{
    ViewBag.Title = "Ventajas";
}
<div class="page-title-area item-bg-1">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Detalles</h2>
                    <!-- <ul>
                         <li><a href="index.html">Home</a></li>
                         <li>Project Details</li>
                     </ul>-->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="projects-details ptb-100">
    <div class="container">
        <div class="projects-details-image">
            <img src="~/assets/img/LineColibry/hora.jfif" alt="image">
        </div>

        <div class="projects-details-content">
            <h3>Disponibilidad</h3>

            <p>Especificación de los factores de disponibilidad final exigidos al sistema. Normalmente expresados en porcentajes de tiempo en los que el software tiene que mostrar disponibilidad..</p>

            <h4>Reportes</h4>
            <p>Este trabajo pretende realizar una revisión, análisis e interpretación relacionada con la entrega reporte. Identificado en la empresa OSC sobre las dificultades que se presentan en el desarrollo de las actividades diarias y las consecuencias que se propician en los procesos, .</p>

            <h4>Delimitaciones</h4>
            <p>Este sistema es muy útil en los proyectos de optimización y modernización, ya que agiliza la entrega los reportes finales a los distintas empresas.</p>
        </div>
    </div>
</div>