@{
    Layout = "~/Views/Shared/_Login_Layout.cshtml";
}
<div class="wrapper">
    <div class="image-holder">
        <img src="~/assets/images/hd.jpg" alt="">
    </div>
    <div class="form-inner">
        <form action="/Login/Login/" method="post">
            <div class="form-header">
                <img src="~/assets/images/Tipografia_03.png">
                <h2><b>Iniciar Sesión</b></h2>
            </div>
            <div class="form-group">
                <label for=""><b>Nombre de usuario</b></label>
                <input type="text" name="user" class="form-control" data-validation="length alphanumeric" data-validation-length="3-12" placeholder="Ingrese su usuario " required>
            </div>

            <div class="form-group">
                <label for=""><b>Contraseña</b></label>
                <input name="pass" type="password"  class="form-control" data-validation="length" data-validation-length="min8" placeholder="Ingrese su contraseña " required>
            </div>

            <div class="my-1 p-1 w-100 text-center">
                <!--<a href="~/Admin" class="btn btn-primary">Ingresar</a>-->
                <button class="my-1 button_login" type="submit">Ingresar</button>
            </div>

            
            <div class="my-1 p-1 w-100 text-center">
                <a href="" target="_blank">Olvido su contraseña</a>
            </div>
    </form>
</div>