
@{
    Layout = "~/Views/Shared/_Login_Layout.cshtml";
}
<div class="wrapper">
    <div class="image-holder">
        <img src="images/71.jpg" alt="">
    </div>
    <div class="form-inner  pb-5">
        <form action="">
            <div class="form-header my-1 ">
                <img src="~/assets/images/Tipografia_03.png">
            </div>
            <h1 class="w-100 my-1 text-center">Registrarse</h1>
            <div class="form-group">
                <label for="" class="m-0">Nombre</label>
                <input type="text" class="form-control" data-validation="length alphanumeric" data-validation-length="3-12" placeholder="Ingrese su nombre ">
            </div>
            <div class="form-group">
                <label for="" class="m-0">Apellido</label>
                <input type="text" class="form-control" data-validation="length alphanumeric" data-validation-length="3-12" placeholder="Ingrese su apellido">
            </div>
            <div class="form-group">
                <label for="" class="m-0">Documento</label>
                <input type="text" class="form-control" data-validation="length alphanumeric" data-validation-length="3-12" placeholder="Ingrese su documento">
            </div>
            <div class="form-group">
                <label for="" class="m-0">Número telefónico </label>
                <input type="text" class="form-control" data-validation="length alphanumeric" data-validation-length="3-12" placeholder="Ingrese su número telefónico">
            </div>
            <div class="form-group">
                <label for="" class="m-0">Correo electrónico</label>
                <input type="text" class="form-control" data-validation="email" placeholder="Ingrese su correo electronico">
            </div>
            <div class="form-group">
                <label for="" class="m-0">Contraseña</label>
                <input type="password" class="form-control" data-validation="length" data-validation-length="min8" placeholder="Ingrese su contraseña">
            </div>
            <div class="form-group">
                <label for="" class="m-0">Confirmar contraseña</label>
                <input type="password" class="form-control" data-validation="length" data-validation-length="min8" placeholder="Ingrese confirmar contraseña">
            </div>

            <button>Enviar</button>
        </form>
    </div>
</div>


