<!doctype html>
<html lang="zxx">

<!-- Mirrored from templates.envytheme.com/finix/default/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 23 Jul 2020 10:02:48 GMT -->
<head>
    <meta charset="utf-8">
    <title>LineColibry | Iniciar Sesion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/assets/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="~/assets/css/style-login.css">
    <link rel="icon" type="image/png" href="~/assets/img/LineColibry/coli.png">
</head>

<body>


    @RenderBody()


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/assets/js/jquery.form-validator.min.js"></script>
    <script src="~/assets/js/login/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.11/dist/sweetalert2.all.min.js"></script>
</body>
</html>
